In [1]:
import os

In [23]:
os.listdir('.')

['.DS_Store',
 'date.csv',
 'Untitled.ipynb',
 'NYPD_shooting.csv',
 'geolocation.csv',
 'Sample.csv',
 'NYPD_date.csv',
 'README.md',
 '.ipynb_checkpoints',
 '.git',
 'project_three.sql',
 'NYPD_geolocation.csv']

In [3]:
import pandas as pd

In [4]:
nypd_df = pd.read_csv('NYPD_shooting.csv')

In [5]:
nypd_df

,INCIDENT_KEY,BORO,LOC_OF_OCCUR_DESC,PRECINCT,JURISDICTION_CODE,LOC_CLASSFCTN_DESC,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE
0,228798151,QUEENS,NaN,105,0.0,NaN,NaN,False,NaN,NaN,NaN,18-24,M,BLACK
1,137471050,BRONX,NaN,40,0.0,NaN,NaN,False,NaN,NaN,NaN,18-24,M,BLACK
2,147998800,QUEENS,NaN,108,0.0,NaN,NaN,True,NaN,NaN,NaN,25-44,M,WHITE
3,146837977,BRONX,NaN,44,0.0,NaN,NaN,False,NaN,NaN,NaN,<18,M,WHITE HISPANIC
4,58921844,BRONX,NaN,47,0.0,NaN,NaN,True,25-44,M,BLACK,45-64,M,BLACK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27307,245029823,BRONX,OUTSIDE,48,0.0,STREET,(null),False,(null),(null),(null),18-24,M,BLACK
27308,239583450,MANHATTAN,OUTSIDE,30,0.0,STREET,(null),False,25-44,F,WHITE HISPANIC,25-44,M,WHITE HISPANIC
27309,246825728,MANHATTAN,OUTSIDE,32,0.0,STREET,(null),False,18-24,M,BLACK,25-44,M,BLACK
27310,246876579,BRONX,INSIDE,46,2.0,HOUSING,MULTI DWELL - PUBLIC HOUS,False,25-44,M,BLACK,25-44,M,WHITE HISPANIC
27311,239861542,BRONX,OUTSIDE,45,0.0,STREET,(null),False,18-24,M,BLACK,18-24,M,BLACK

In [7]:
nypd_df['INCIDENT_KEY'].nunique()

21420

In [8]:
nypd_df['INCIDENT_KEY'].value_counts()

173354054    18
94424905     12
33706902     12
24717013     12
212640102    12
             ..
25658628      1
54474353      1
61618854      1
195700548     1
239861542     1
Name: INCIDENT_KEY, Length: 21420, dtype: int64

In [14]:
nypd_df_unique = nypd_df.drop_duplicates(subset='INCIDENT_KEY')

In [15]:
nypd_df_unique.to_csv('Sample.csv', index=False)

In [16]:
nypd_df.columns

Index(['INCIDENT_KEY', 'BORO', 'LOC_OF_OCCUR_DESC', 'PRECINCT',
       'JURISDICTION_CODE', 'LOC_CLASSFCTN_DESC', 'LOCATION_DESC',
       'STATISTICAL_MURDER_FLAG', 'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE',
       'VIC_AGE_GROUP', 'VIC_SEX', 'VIC_RACE'],
      dtype='object')

In [17]:
nypd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27312 entries, 0 to 27311
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   INCIDENT_KEY             27312 non-null  int64
 1   BORO                     27312 non-null  object
 2   LOC_OF_OCCUR_DESC        1716 non-null   object
 3   PRECINCT                 27312 non-null  int64
 4   JURISDICTION_CODE        27310 non-null  float64
 5   LOC_CLASSFCTN_DESC       1716 non-null   object
 6   LOCATION_DESC            12335 non-null  object
 7   STATISTICAL_MURDER_FLAG  27312 non-null  bool
 8   PERP_AGE_GROUP           17968 non-null  object
 9   PERP_SEX                 18002 non-null  object
 10  PERP_RACE                18002 non-null  object
 11  VIC_AGE_GROUP            27312 non-null  object
 12  VIC_SEX                  27312 non-null  object
 13  VIC_RACE                 27312 non-null  object
dtypes: bool(1), float64(1), int64(2), object(10)
memory usage: 2.7+ MB

In [22]:
dates_df = pd.read_csv('NYPD_date.csv')
dates_df_unique = dates_df.drop_duplicates(subset='INCIDENT_KEY')
dates_df_unique.to_csv('date.csv', index=False)

In [21]:
location_df = pd.read_csv('NYPD_geolocation.csv')
location_df_unique = location_df.drop_duplicates(subset='INCIDENT_KEY')
location_df_unique.to_csv('geolocation.csv', index=False)

In [67]:
df = pd.read_csv('geolocation.csv')

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21420 entries, 0 to 21419
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   INCIDENT_KEY  21420 non-null  int64
 1   X_COORD_CD    21420 non-null  float64
 2   Y_COORD_CD    21420 non-null  float64
 3   Latitude      21411 non-null  float64
 4   Longitude     21411 non-null  float64
 5   Lon_Lat       21411 non-null  object
dtypes: float64(4), int64(1), object(1)
memory usage: 1004.2+ KB

In [69]:
import numpy as np
np.max(df['Lon_Lat'].str.len())

45.0

In [70]:
df.columns

Index(['INCIDENT_KEY', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lon_Lat'],
      dtype='object')

In [71]:
df.isnull().sum()

INCIDENT_KEY    0
X_COORD_CD      0
Y_COORD_CD      0
Latitude        9
Longitude       9
Lon_Lat         9
dtype: int64

In [72]:
columns_to_fill = ['Latitude', 'Longitude',
       'Lon_Lat']

In [73]:
for col in columns_to_fill:
    df[col] = df[col].fillna(df[col].mode()[0])

In [66]:
# df['Lon_Lat'] = df['Lon_Lat'].astype(str)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21420 entries, 0 to 21419
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   INCIDENT_KEY  21420 non-null  int64
 1   X_COORD_CD    21420 non-null  float64
 2   Y_COORD_CD    21420 non-null  float64
 3   Latitude      21420 non-null  float64
 4   Longitude     21420 non-null  float64
 5   Lon_Lat       21420 non-null  object
dtypes: float64(4), int64(1), object(1)
memory usage: 1004.2+ KB

In [75]:
df[col].mode()[0]

'POINT (-73.88151014499994 40.67141260500006)'

In [57]:
df.to_csv('test.csv', index=False)

In [58]:
pd.read_csv('test.csv')

,INCIDENT_KEY,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,228798151,1.058925e+06,180924.000000,40.662965,-73.730839,POINT (-73.73083868899994 40.662964620000025)
1,137471050,1.005028e+06,234516.000000,40.810352,-73.924942,POINT (-73.92494232599995 40.81035186300006)
2,147998800,1.007668e+06,209836.531250,40.742607,-73.915492,POINT (-73.91549174199997 40.74260663300004)
3,146837977,1.006537e+06,244511.140625,40.837782,-73.919457,POINT (-73.91945661499994 40.83778200300003)
4,58921844,1.024922e+06,262189.406250,40.886238,-73.852910,POINT (-73.85290950899997 40.88623791800006)
...,...,...,...,...,...,...
21415,244169758,1.008690e+06,238862.000000,40.822271,-73.911698,POINT (-73.911697780277 40.8222710411331)
21416,249978889,9.919120e+05,191839.000000,40.693229,-73.972367,POINT (-73.972367 40.693229)
21417,246999028,1.015533e+06,238047.000000,40.820006,-73.886973,POINT (-73.886973 40.820006)
21418,246825728,1.000999e+06,234464.000000,40.810209,-73.939496,POINT (-73.9394955 40.81020941)
21419,239861542,1.026549e+06,244293.000000,40.837102,-73.847134,POINT (-73.847134 40.837102)